* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    margin: 0;
}

header {
    background: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo {
    text-align: left;
}

.logo h1 {
   
    color: white;
    margin: 0;
    font-size: 24px;
}

.logo p {
    margin: 0;
    font-size: 14px;
}

.hero {
    width: 80%;
    margin: 20px auto;
}

body {
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.hero {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.converter-section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

textarea {
    width: calc(100% - 20px);
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #e02858;
}

.row {
    display: flex;
    justify-content: space-around;
}

